name: Daily Currency Pipeline

on:
  schedule:
    - cron: "0 5 * * *"   # runs daily at 05:00 UTC
  workflow_dispatch:       # manual trigger

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install deps
        run: npm install node-fetch cheerio

      - name: Make public folder
        run: mkdir -p public

      - name: Build JSON
        run: node fetch_and_build.js > public/prices.json
        

      - name: Deploy to Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public
